<h1>Lista de Frutas</h1>

<ul>

    @foreach(var item in @ViewBag.Frutas){
        <p>
            Código - @item.Id_Frutas<br/>
            Nome - @item.Nome<br/>
            Preço - @item.Preco<br/>
            Quantidade - @item.Quantidade<br/>
            Categoria - @item.Categoria
        </p>
    }

</ul>